body{
    background: #234564;
}

input{
    background-color: rgba( 0, 0, 0, 0.2 );
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px #45556c;
    width: 490px;
    padding: 5px;
    margin: 10px;
}

span{
    margin: 15px;
}

p{
    margin: 15px 0px 35px -20px;
}

.informacoes-box{
    width: 580px;
    height: 450px;
    border: none;
    background: #163A50;
    font-family: "Motiva Sans", Sans-serif;
    color: white;
    padding: 25px 5px 15px 40px;
    margin: 50px;
    display: inherit;
}

.cadastro-usuario-form{
    background-color: rgba( 0, 0, 0, 0.2 );
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px #45556c;
    width: 500px;
    height: 400px;
    padding: 5px;
    margin: auto;
}